* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.app {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gradient h2 {
  color: #fff;
  margin-bottom: 2rem;
}

.colorPicker {
  display: flex;
  gap: 3rem;
  padding-bottom: 2rem;
}

.btnRandom {
  padding: 10px 15px;
  background: #358835;
  color: #fff;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btnRandom:hover {
  /* background: #3e8e41; */
  transform: scale(1.05);
}
.output {
  margin-top: 2rem;
  display: flex;
  font-size: 8px;
  align-items: center;
  background: #fff;
  padding: 5px 20px;
}
